<div class="banner">
  <div class="container">
    <img class="logo" src="assets/images/logo.svg" alt="logo" [routerLink]="['administration']">
    <div>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <span *ngIf="!user">Usuario</span>
        <span *ngIf="user">{{user?.name}}</span>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['optionals']">
          <mat-icon>auto_stories</mat-icon>
          <span>Optativas</span>
        </button>
        <button mat-menu-item *ngIf="user?.role?.id === 1" [routerLink]="['users']">
          <mat-icon>people</mat-icon>
          <span>Usuarios</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
