@import "assets/css/splash-screen";
@import "assets/css/material-theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mat-dialog-container {
  padding: 0 !important;
}
